@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

@layer base {
  html,
  body {
    @apply bg-primaryMediumDark scroll-smooth font-bodyFont;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@layer components {
  /* ---------------------------- general --------------------------- */
  .btn {
    @apply w-full bg-primaryMedium capitalize hover:bg-primaryMediumLight py-1 rounded-md transition-all mt-1;
  }
  .img-base {
    @apply object-cover object-center;
  }
  .img-icon {
    @apply object-cover object-center h-10 w-10 my-auto hover:mix-blend-lighten transition-all relative;
  }
  .icon-btn-square {
    @apply h-10 w-10  sm:h-11 sm:w-full bg-none text-textDark flex items-center justify-center hover:bg-secondaryMedium rounded-md transition-all relative focus:h-full focus:text-accentMain border-accentMain focus:border-b-2 focus:rounded-none;
  }

  .icon-btn {
    @apply h-10 w-10 flex items-center justify-center cursor-pointer bg-secondaryMedium hover:bg-primaryMediumLight rounded-full transition-all relative text-textMedium;
  }
  .icon-note {
    @apply hidden md:block absolute top-12 left-1/2 bg-white bg-opacity-0 text-primaryDark -translate-x-1/2  z-10 rounded-md px-3 py-2 transition-all text-xs whitespace-nowrap  delay-200 opacity-0;
  }

  .icon-btn:hover .icon-note {
    @apply hidden md:block bg-opacity-80 transition-all opacity-100;
  }
  .icon-btn-square:hover .icon-note {
    @apply hidden md:block bg-opacity-80 transition-all opacity-100;
  }
  .btn:hover .icon-note {
    @apply hidden md:block bg-opacity-80 transition-all opacity-100;
  }
  .img-icon:hover .icon-note {
    @apply hidden md:block bg-opacity-80 transition-all opacity-100;
  }
  .img-icon-small {
    @apply img-icon p-0 m-0 w-8 h-8;
  }
  .icon-round-text-btn {
    @apply h-10  bg-none text-textPrimary flex  hover:bg-primaryMedium rounded-md transition-all relative  justify-start items-center w-full text-sm font-medium gap-2 p-3 mb-0;
  }
  .icon-round-text-btn-lg {
    @apply icon-round-text-btn h-14 text-base hover:bg-primaryMediumLight;
  }
  /* ---------------------------- general   --------------------------- */

  /* ----------------------------- post ----------------------------- */
  .post-container {
    @apply max-w-lg bg-primaryMedium mt-5 mx-auto rounded-md shadow-sm shadow-black py-3 text-sm;
  }
  .post-comment-form {
    @apply col-span-8 h-10  w-full flex items-center justify-between px-3 bg-primaryMediumLight rounded-3xl;
  }
  .post-comment-input {
    @apply h-full w-full col-span-2 bg-transparent outline-none py-2 resize-none text-textLight;
  }

  .post-comment-input::-webkit-scrollbar {
    display: none;
  }

  /* ----------------------------- post ----------------------------- */

  /* ---------------------------- Navbar ---------------------------- */
  .navbar-container {
    @apply bg-mainBackground h-14 fixed top-0 w-full left-0 border-b border-b-primaryMediumLight z-50;
  }
  .navbar {
    @apply grid grid-cols-12 max-w-7xl px-2 md:px-5 items-center h-full mx-auto gap-0 md:gap-5;
  }

  .nav-links-container {
    @apply col-span-3 sm:col-span-6  h-full w-full;
  }
  .nav-links {
    @apply grid grid-cols-2 sm:grid-cols-4 h-full;
    /* @apply grid grid-cols-5 h-full mx-auto  w-full items-center; */
  }
  .nav-menu-container {
    @apply col-span-6 sm:col-span-4 md:col-span-3 h-full;
  }
  .nav-menu {
    @apply flex items-center h-full gap-2 justify-end;
  }

  .menu-list {
    @apply fixed sm:absolute top-14 sm:top-14 right-0 bg-secondaryMedium w-screen sm:w-96 rounded-none sm:rounded-md text-textPrimary shadow-md z-50 shadow-black transition-all h-44 overflow-hidden;
  }
  .profile-menu {
    @apply menu-list h-fit overflow-visible;
  }

  .notification-menu {
    @apply menu-list overflow-hidden;
    height: calc(100vh - 20px);
  }
  .logo-search-container {
    @apply col-span-3 sm:col-span-2 md:col-span-3 h-14;
  }

  .logo-search {
    @apply flex items-center gap-1 sm:gap-2 h-full;
  }

  .search-menu {
    @apply fixed top-0 left-0 bg-primaryMediumDark w-screen md:w-80 rounded-none sm:rounded-b-md text-textPrimary z-50 transition-all h-screen md:h-fit md:max-h-screen overflow-y-scroll opacity-100 delay-75;
  }
  .search-menu::-webkit-scrollbar {
    display: none;
  }
  .search-form-container {
    @apply flex items-center  gap-1 sm:gap-2  border-b border-primaryMedium h-14 px-2 md:px-5;
  }
  .search-form {
    @apply h-8 sm:h-10 w-64 bg-primaryMedium flex items-center justify-start rounded-full overflow-clip transition-all relative outline-none hover:bg-primaryMediumLight;
  }
  .search-form-navbar {
    @apply search-form w-8 sm:w-10 2xl:w-72;
  }
  .search-input {
    @apply absolute left-10 h-full w-full group-focus-within:left-0 px-3 text-textMedium bg-transparent transition-all active:ring-0 active:bg-primaryMedium group-hover:bg-primaryMediumLight outline-none cursor-pointer;
  }
  .search-button-magnify {
    @apply icon-btn absolute group-hover:bg-primaryMediumLight group-focus-within:hidden;
  }
  .search-button-arrow {
    @apply h-10 w-10 bg-transparent hover:bg-primaryMedium rounded-full;
  }
  .main-menu {
    @apply menu-list -right-24;
    height: calc(100vh - 50px);
    width: 600px;
  }

  .create-menu {
    @apply menu-list h-screen;
    /* height: calc(100vh - 70px); */
  }

  .main-menu-left {
    @apply col-span-3 h-5/6 w-full bg-primaryMedium rounded-md overflow-y-scroll py-3 px-5;
  }

  .main-menu-right {
    @apply col-span-2 h-5/6 w-full bg-primaryMedium rounded-md overflow-y-scroll;
  }

  .main-menu-left::-webkit-scrollbar {
    display: none;
  }
  .main-menu-right::-webkit-scrollbar {
    display: none;
  }

  .notifications-container {
    @apply w-full overflow-y-scroll mt-3 px-3 md:px-5 left-0 right-0;
    height: calc(100vh - 150px);
  }
  .notifications-container::-webkit-scrollbar {
    display: none;
  }
  .notification-line {
    @apply grid grid-cols-6 cursor-pointer items-center hover:bg-primaryMedium rounded-md transition-all mb-2 p-2 gap-2;
  }
  /* ---------------------------- navbar ---------------------------- */

  /* ---------------------------- Modal ---------------------------- */
  .modal-base {
    @apply bg-primaryDark bg-opacity-80 fixed left-0 top-0 w-full h-full z-50 flex justify-center;
  }
  .modal-container {
    @apply relative rounded-lg shadow-primaryMediumLight shadow-inner mt-0 sm:mt-10 z-50 bg-primaryMedium p-5 w-full sm:w-9/12 md:w-7/12 lg:w-6/12 xl:w-5/12 transition-all overflow-hidden h-full sm:h-fit;

    /* height: 80vh; */
  }
  .posting-form-image {
    @apply w-full h-full overflow-y-scroll;
  }
  .posting-form-image::-webkit-scrollbar {
    display: none;
  }
  .text-area-modal {
    @apply w-full text-xl text-textPrimary rounded-md p-3 bg-primaryMediumDark outline-none;
  }

  .text-area-modal::-webkit-scrollbar {
    display: none;
  }
  /* ---------------------------- Modal ---------------------------- */

  /* ---------------------------------------------------------------- */
  /*                             welcome-page                            */
  /* ---------------------------------------------------------------- */
  .welcome-container {
    @apply w-full h-screen pt-14  text-textPrimary max-w-4xl mx-auto bg-mainBackground overflow-hidden relative;
  }
  .welcome-content {
    @apply h-screen overflow-y-scroll;
  }
  .welcome-content::-webkit-scrollbar {
    display: none;
  }

  .welcome-header {
    @apply flex flex-col items-center justify-center text-lg md:text-xl w-full px-3 top-0 z-30 p-3 md:p-8 md:pb-3 bg-mainBackground;
  }

  .welcome-header-title {
    @apply text-accentMain hover:text-accentDark transition-all font-semibold text-2xl cursor-pointer text-center leading-5 font-headerFont;
  }
  .welcome-card-container {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-3 p-3 pb-28;
  }
  .welcome-card {
    @apply icon-round-text-btn-lg rounded-md border-mainBackground bg-primaryMedium h-32 px-4  grid grid-cols-12 text-left;
  }

  .welcome-img {
    @apply relative w-16 h-16 sm:w-20 sm:h-20 rounded-full shadow-md shadow-primaryDark;
  }
  /* ---------------------------------------------------------------- */
  /*                             main-page                            */
  /* ---------------------------------------------------------------- */
  .main-container {
    @apply w-full h-screen grid grid-cols-4 lg:grid-cols-9 xl:grid-cols-12 pt-14 text-textPrimary max-w-7xl mx-auto;
  }
  .main-container::-webkit-scrollbar {
    display: none;
  }

  /* ---------------------------- bookmarks ---------------------------- */

  .bookmarks-container {
    @apply w-full h-screen grid grid-cols-1 pt-14 text-textPrimary max-w-7xl mx-auto;
  }

  .bookmarks-left-sidebar {
    @apply hidden xl:block col-span-3 p-3 overflow-y-scroll;
    height: calc(100vh - 56px);
  }
  /* ------------------------- Left Sidebar ------------------------- */
  .main-left-sidebar {
    @apply hidden xl:block col-span-3 p-3 overflow-y-scroll bg-mainBackground;
    height: calc(100vh - 56px);
  }
  .main-left-sidebar::-webkit-scrollbar {
    display: none;
  }
  /* ------------------------- Main Content ------------------------- */

  .main-content {
    @apply w-full overflow-y-scroll col-span-4 sm:col-span-6 px-0 max-w-2xl mx-auto bg-mainBackground;
    height: calc(100vh - 56px);
  }
  .main-content::-webkit-scrollbar {
    display: none;
  }
  .stories-container {
    @apply w-full my-5 h-40 sm:h-44 grid grid-cols-4  sm:grid-cols-5 xl:grid-cols-4 gap-2 sm:px-5;
  }
  .story {
    @apply h-40 sm:h-44 w-full bg-primaryMedium  rounded-md relative overflow-hidden shadow-black shadow-sm hover:shadow-md transition-all cursor-pointer grid grid-rows-4;
  }

  .story-last {
    @apply hidden sm:grid xl:hidden bg-primaryMedium;
  }
  /* ------------------------- Right Sidebar ------------------------- */

  .main-right-sidebar {
    @apply hidden w-full lg:block lg:col-span-3 px-3 overflow-y-scroll bg-mainBackground;
    height: calc(100vh - 56px);
  }
  .main-right-sidebar::-webkit-scrollbar {
    display: none;
  }
  .sponsor-img {
    @apply h-24 w-24 col-span-2  img-base rounded-md overflow-hidden;
  }

  .contact-modal {
    @apply fixed top-0 left-0 z-20 bg-secondaryMedium w-80 h-36 opacity-0 group-hover:opacity-100 transition-all flex items-center rounded-md p-3 gap-3 shadow-md shadow-primaryMediumDark delay-200;
  }
  /* ---------------------------------------------------------------- */
  /*                             main-page                            */
  /* ---------------------------------------------------------------- */

  /* ---------------------------------------------------------------- */
  /*                           Profile Page                           */
  /* ---------------------------------------------------------------- */

  /* ------------------------- Profile Header ------------------------- */
  .profile-header-container {
    @apply w-full bg-gradient-to-t from-primaryDark to-accentDark h-screen;
  }
  .profile-header {
    @apply w-full h-full relative max-w-4xl grid grid-rows-6 md:grid-rows-5 mx-auto bg-mainBackground;
  }

  .header-bar {
    @apply z-0 h-14 w-full transition-all left-0 bg-mainBackground;
  }

  .header-bar-menu {
    @apply absolute left-0  h-full transition-all overflow-hidden flex items-center whitespace-pre-wrap;
  }
  .header-bar-profile {
    @apply h-full transition-all overflow-hidden  bg-primaryMediumDark;
  }
  .profile-header-image {
    @apply absolute w-44 h-44 rounded-full overflow-hidden border-accentMain border-8 transition-all bottom-0 my-auto md:top-1/2 md:-translate-y-1/2;
    /* left: 50%;
    transform: translateX(-50%); */
  }

  .profile-intro {
    @apply flex gap-2 items-center mb-3;
  }
  .profile-right {
    @apply bg-mainBackground w-full col-span-1 md:col-span-3 overflow-y-visible md:overflow-y-scroll h-fit md:h-screen;
  }
  .profile-right::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  .profile-left {
    @apply bg-mainBackground h-fit md:h-screen overflow-y-visible md:overflow-y-scroll w-full col-span-1 md:col-span-2 md:pl-3;
  }

  .profile-left::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  /* ------------------------- Profile Header ------------------------- */
  /* ---------------------------------------------------------------- */
  /*                           Profile Page                           */
  /* ---------------------------------------------------------------- */
}
